<?xml version="1.0"?>
<model>
  <name>onshape_course</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Krishna</name>
    <email>krishna.dontaraju@gmail.com</email>
  </author>
  <description>CAT Robotics competition course from OnShape</description>
</model>
